body {
  text-align: center;
  font-family: Helvetica;
}
.heading {
  background-image: url('./images/the-flatiron-building.png');
  }
#header {
  font-size: 70px;
  font-weight: bold;
  color: white;
}
.link {
  font-family: Helvetica;
  font-size: 18px;
  color: white;
}
#ourprocess {
  font-size: 32px;
  font-weight: bold;
}
.subheading {
  font-size: 23px;
  font-weight: bold;
}
#newyork {
  background-image: url('./images/the-flatiron-building.png');
  font-size: 23px;
  font-weight: bold;
  color: white;
}
p {
  font-size: 14px;
}
#footer {
  text-align: left;
  font-size: 11px;
  color: white;
  background-color: dimgray;
}
